{% ckan_extends %}

{% block subtitle %}{{ _('Register') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Registration'), controller='user', action='register') }}</li>
{% endblock %}

{% block primary_content %}


    <div class="layout layout--normal">
        <div class="grid-item grid-item--a-6">
            <h1 class="h1">{{ _('Register for an Account') }}</h1>
        </div>

        {{ c.form | safe }}

    </div>

{% endblock %}

{% block secondary_content %}
{% endblock %}
