{% ckan_extends %}

{% block heading_title %}
    <h1>
        {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name), class='filter-results-section--block-link') }}
    </h1>
    {% if package.organization %}
        <h2>
            {{ h.link_to(package.organization.name, h.url_for(controller='organization', action='read', id=package.owner_org), class='filter-results-section--block-link') }}
        </h2>
    {% endif %}
{% endblock %}

{% block resources_outer %}
    <ul class="tags-list">
        {% block resources_inner %}
            {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                <li class="tags-list-item">
                    <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" >{{ resource }}</a>
                </li>
            {% endfor %}
        {% endblock %}
    </ul>
{% endblock %}


