.account li {
    float: left;
    padding-left: 4px;
}

#topright .search input#mod-search-searchword.inputbox {
    width: auto;
}

#topright .search .btn-search {
    top:10px;
    padding-right:5px !important;
    margin-top: 0px;
}

[role=main], .main {
    background: none;
}

.add_action {
    float: right;
}

.toolbar {
    padding: 0px;
}

.toolbar .breadcrumb {
    margin-top: 3px;
}

ol.breadcrumb li {
    margin: 0;
}

[role=main] .primary {
    width: auto;
    float: none;
    margin-left: 221px;
    position: absolute;
}

.btn {
    padding: 4px 12px;
}

.btn-group.actions {
    float: right;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    vertical-align: middle;
}

#content .module {
    margin: 0;
}
