.account li {
    float: left;
    padding-left: 4px;
}

#topright .search input#mod-search-searchword.inputbox {
    width: 206px;
}

#topright .search .btn-search {
    top:10px;
    padding-right:5px !important;
    margin-top: 0px;
}

[role=main], .main {
    background: none;
}

/* needed only when main.css not properly recompiled
.add_action {
    float: right;
}

*/

.toolbar {
    padding: 0px;
}

.toolbar .breadcrumb {
    margin-top: 3px;
}

ol.breadcrumb li {
    margin: 0;
}

[role=main] .primary {
    width: 100%;
}

[role=main] .secondary {
    margin-left: 0;
}

.wrapper {
    background: none;
}

.wrapper td {
    vertical-align: top;
}

.wrapper td:first-of-type {
    border-right: 1px solid #7c7b7a;
}

.wrapper td:last-of-type {
    width: 100%
}

.btn {
    padding: 4px 12px;
}

.btn:hover, button:hover {
    color: inherit!important;
}

.btn-group.actions {
    float: right;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    vertical-align: middle;
}

/*
#content .module {
    margin: 0;
}
*/

.module {
    margin: 20px 0 0 0;
}

.module-content, .module-content:last-child, .module-content:first-child {
    margin: 0;
    /* padding: 0; */
}

.module-content.box, .box {
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #ddd;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* re-state here, because it's overridden by bootstrap*/
.search-giant input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 10px;
    width: 100%;
    height: auto;
}

.dualfish ul.menu > li > ul.dropdown-menu {
    top: 100%;
    min-width: 160px;
    width: auto;
    position: absolute;

    left: 0;
    z-index: 1000;
    display: none;
    padding: 5px 0;
    visibility: inherit;
    overflow: inherit;
}

.control-order-by {
    bottom: inherit;
}

#ty2udate264 {
    display: inline-block;
    width: auto;
    font-size: 18px;
    font-family: "Times New Roman",Georgia,Serif;
    letter-spacing: 1px;
}

.group-listing {
    margin-left: auto;
}
.row {
    margin-left: auto;
}

[role=main] {
    min-height: inherit;
}


.dataset-map-expanded #dataset-map {
    width: 100%;
}

.site-footer, .site-footer label, .site-footer small {
    color: inherit;
    text-transform: none;
    margin-right: 0;
    margin-top: 4px;
}
.site-footer {
    color: inherit;
    background: none;
}

.site-footer .container:first-of-type {
    border-top: 3px solid #9e0a0a;
}

.site-footer a {
    color: inherit;
}

h1 {
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 100%;
}

#field-order-by {
    margin-bottom: 5px;
}

ol.stages li {
    margin: 0px;
    list-style-type: inherit;
}
ol.stages li.uncomplete span {
    background-color: inherit;
}

ol.stages li .highlight {
    padding: 10px 52px !important;
}

small {
    font-size: 85%;
}

.ckan-footer-logo {
    display: inline-block;
    width: 68px;
    height: 21px;
    margin-bottom: 1px;
    background: url("../../../base/images/ckan-logo-footer.png") no-repeat top left;
    text-indent: -900em;
    -webkit-filter: invert(100%);
    vertical-align: text-bottom;
}

.hero-secondary {
    position: inherit;
    bottom: auto;
    right: auto;
}

.hero-primary, .hero-secondary {
    width: 49%;
}

.hero-primary {
    max-width: 605px;
}

.latestnewstitle {
    margin-bottom: 20px;
}

.module-dark .module-content {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #dad9d6;
    border-bottom: none;
}

.tags {
    padding: 5px 10px 10px 10px;
    background-color: #f1df5b;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.tagcloud {
    font-size: 24px;
}

.tag {
    vertical-align: middle;
    line-height: normal;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}