{% ckan_extends %}

{% block meta %}
    {% block meta_viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />{% endblock %}
    {{ super() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <meta http-equiv="cleartype" content="on">
{% endblock %}

{% block styles %}

    {{ super() }}
    {# add extra stylesheets here if needed #}
    <!--
    <link rel="stylesheet" href="..." type="text/css" />
    -->

    {#
     VL style is cloned into resources for easier overriding
    <link rel="stylesheet" href="http://d201gzvprbtpxy.cloudfront.net/sites/all/themes/portal_q4_2013/vlaanderen-ui/vlaanderen-ui.css">
     #}
    {% resource 'ckanext-odvl/odvl_theme' %}
{% endblock %}

{% block links %}
    {{ super() }}
    <link rel="apple-touch-icon-precomposed" href="http://d201gzvprbtpxy.cloudfront.net/sites/all/themes/portal_q4_2013/img/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://d201gzvprbtpxy.cloudfront.net/sites/all/themes/portal_q4_2013/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://d201gzvprbtpxy.cloudfront.net/sites/all/themes/portal_q4_2013/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://d201gzvprbtpxy.cloudfront.net/sites/all/themes/portal_q4_2013/img/apple-touch-icon-144x144-precomposed.png">
{% endblock %}



