{% ckan_extends %}

{% block styles %}
    {{ super() }}
    {# add extra stylesheets here if needed #}
    <link rel="stylesheet" href="http://opendataforum.info/templates/tribune2/css/k2.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/components/com_jxtcreadinglist/readinglist.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/media/jui/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/media/jui/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/media/jui/css/bootstrap-extended.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/templates/tribune2/XTC/css.php?id=14&amp;file=default" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/templates/tribune2/XTC/css.php?id=14&amp;group=typo" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/templates/tribune2/XTC/css.php?id=14&amp;group=grid" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/templates/tribune2/XTC/css.php?id=14&amp;group=style3" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/templates/tribune2/XTC/css.php?id=14&amp;group=css3effects" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/templates/system/css/system.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/templates/system/css/general.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/templates/tribune2/XTC/css.php?id=14&amp;file=template" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2contentwall/templates/tribune_featurednews_user1/template.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2contentwall/css/wall.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/plugins/content/jw_allvideos/jw_allvideos/tmpl/Classic/css/template.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2contentwall/templates/tribune_videowall_mediaallnews/template.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/components/com_jxtcpowertabs/powertabs.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2categorywall/templates/tribune_categories_right_right2/template.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2categorywall/css/wall.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2contentwall/templates/tribune_category_news/template.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2contentwall/templates/tribune_morenews_user27/template.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2avatarwall/templates/tribune_contributors_right_right6/template.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2avatarwall/css/wall.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2commentswall/css/wall.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/modules/mod_jxtc_k2contentwall/templates/tribune_breakingnews_right2_right/template.css" type="text/css" />
    <link rel="stylesheet" href="http://opendataforum.info/css/odvl-joomla-tribune.css"/>

    <link rel="stylesheet" href="/css/odvl-joomla-tribune.css"/>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {# add extra scripts here if needed #}
{% endblock %}


