<div class="u-spacer u-hidden-mobile"></div>
<section class="region region--alt">

    {% if g.debug %}
        <div style="float:left">
            {% include 'snippets/debug.html' %}
        </div>
    {% endif %}

    <ul class="user-actions">
        <li>Open data:</li>
        <li>
            <a href="#" class="user-actions--action">API</a>
        </li>
        <li>
            <a href="#" class="user-actions--action">Contacteer Open data team</a>
        </li>
    </ul>
</section>
<script type="text/javascript" src="http://widgets-varnish-ti.vlaanderen.be/widget/live/7db0ac6476d243cb99099ce25d7f1717"></script>