{% ckan_extends %}

{% block footer_links %}
  {# Override footer on all pages #}
    <div class="module title-on bottom">
        <div class="modulecontent moduletitle">
            <ul class="menu bottommenu xtcdefaultmenu">
                <li><a href="/about">About {{ g.site_title }}</a></li>
                <li><a href="http://docs.ckan.org/en/latest/api.html">API</a></li>
                <li><a href="mailto:info@opendataforum.be">Contact Us</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer_attribution %}
	{{ super() }}

{% endblock %}
