{% ckan_extends %}

{% block header_site_navigation_tabs %}
    {{ h.build_nav_main(
              ('home', _('Home')),
              ('search', _('Datasets')),
              ('organizations_index', _('Organizations')),
            ) }}
{% endblock %}

{% block header_wrapper %}

<header class="banner banner--large" role="banner">
    <!--<div class="banner__wrapper">-->
    <picture>
        <!--[if IE 9]>
            <video style="display: none;"><![endif]-->
        <source srcset="//d201gzvprbtpxy.cloudfront.net/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1x" media="(min-width: 1024px)">
        <source srcset="//d201gzvprbtpxy.cloudfront.net/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 1x" media="(max-device-width: 767px)">
        <source srcset="//d201gzvprbtpxy.cloudfront.net/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1x" media="(max-width: 1023px)">
        <!--[if IE 9]></video><![endif]-->
        <!--[if lt IE 9]>
            <img itemprop="image" src="//d201gzvprbtpxy.cloudfront.net/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg" alt="" title=""/>
            <![endif]-->
        <!--[if !lt IE 9]><!-->
        <img srcset="//d201gzvprbtpxy.cloudfront.net/sites/default/files/styles/page_banner_wide/public/images/15_9-2middag.jpg?itok=0R9nBwNC 1600w" alt="" title="">
        <!-- <![endif]-->
    </picture>
    <div class="layout layout--normal">

        <div class="banner__content">
            <h1 class="banner__title" itemprop="name">ICT, e-government & informatie</h1>
        </div>
    </div>
    <!--</div>-->

    <section class="region region--alt u-hidden-mobile">

        <div data-totalcount="{{ tags|count }}" data-module="vl-breadcrumb" style="display:none">
            {% if breadcrumb_cont %}
                <div id="breadcrumb_content">{{ breadcrumb_cont }}</div>
            {% endif %}
            <div id="navigation_tabs">{{ self.header_site_navigation_tabs() }}</div>
        </div>
        {% resource 'ckanext-odvl/vl_breadcrumb' %}

        {% if c.userobj %}
            <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                <ul class="user-actions">
                    <li>Open data:</li>
                    {{ self.header_account_logged() }}
                </ul>
            </div>
        {% else %}
            <div class="account not-authed">
                <ul class="user-actions">
                    <li>Open data:</li>
                    {{ self.header_account_notlogged() }}
                </ul>
            </div>
        {% endif %}
    </section>
    <div class="u-spacer u-hidden-mobile"></div>

</header>
{% endblock %}

{#
{% block header_wrapper %}
<div id="headerwrap" class="xtc-bodygutter">
    <div id="headerpad" class="xtc-wrapperpad">
        <div id="header" class="clearfix xtc-wrapper row-fluid header">

            <div id="topwrap" class="clearfix row-fluid">
                <div id="topleft" class="span3">
                    <!--
                    <div id="ty2udate264">Friday,&nbsp;25th&nbsp;October&nbsp;2013</div>
                    -->
                </div>

                <div align="center" id="logo" class="span6"><a class="hideTxt" href="http://opendataforum.info/index.php">Open Data Forum</a>
                </div>

                <div id="topright" class="span3">
                    <div class="search">
                        {% block header_site_search %}
                            <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
                                <div class="field">
                                    <!-- id="field-sitewide-search" -->
                                    <input size="20" maxlength="20" id="mod-search-searchword" class="inputbox" type="text" name="q" placeholder="{{ _('Search Datasets') }}" />
                                    <button class="btn-search ckan-icon ckan-icon-search" type="submit"></button>
                                </div>
                            </form>
                        {% endblock %}
                    </div>

                </div>
            </div>
            <div class="menutopwrap">
                <div id="menuright" class="hd2">
                    <div id="menuright3">
                        <div class="module title-off trigger">
                            {% if c.userobj %}
                                <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                                    <ul>
                                        {{ self.header_account_logged() }}
                                    </ul>
                                </div>
                            {% else %}
                                <nav class="account not-authed">
                                    <ul>
                                        {{ self.header_account_notlogged() }}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="menu" class="clearfix hd8  dualfish">
                    <div class="module title-on  moleft">
                        <h3 class="moduletitle">
                            <span class="first_word">MAIN MENU</span></h3>

                        <div class="modulecontent">
                            <ul class="menu dualfish xtcdefaultmenu">
                                <li class="menu-1 item-21"><a href="http://opendataforum.info/">Home</a></li>
                                <li class="dropdown menu-2 item-82 current active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">DATA</a>
                                    <ul class="dropdown-menu">
                                        {{ self.header_site_navigation_tabs() }}
                                    </ul>
                                </li>
                                <li class="menu-3 item-64 deeper parent "><a href="http://opendataforum.info/index.php/news2">NIEUWS</a></li>
                                <li class="menu-4 item-26"><a href="http://opendataforum.info/index.php/blog">BLOG</a></li>
                                <li class="menu-5 item-22"><a href="http://opendataforum.info/index.php/events2">EVENEMENTEN</a></li>
                                <li class="menu-6 item-235"><a href="http://opendataforum.info/index.php/links">LINKS</a></li>
                                <li class="menu-7 item-482 deeper parent"><a href="http://opendataforum.info/index.php/contact">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div id="menu2" class="clearfix">

            </div>

        </div>
    </div>
</div>
{% endblock %}
#}





