{% ckan_extends %}

{% block header %}
<div id="headerwrap" class="xtc-bodygutter">
    <div id="headerpad" class="xtc-wrapperpad">
        <div id="header" class="clearfix xtc-wrapper row-fluid header">

            <div id="topwrap" class="clearfix row-fluid">
                <div id="topleft" class="span3">
                    <div id="ty2udate264">Friday,&nbsp;25th&nbsp;October&nbsp;2013</div>
                </div>

                <div align="center" id="logo" class="span6"><a class="hideTxt" href="/index.php">Open Data Forum</a>
                </div>

                <div id="topright" class="span3">
                    <form action="/index.php" method="post">
                        <div class="search">
                            <input name="searchword" id="mod-search-searchword" maxlength="20" class="inputbox"
                                   type="text" size="20" value="Search..."
                                   onblur="if (this.value=='') this.value='Search...';"
                                   onfocus="if (this.value=='Search...') this.value='';"> <input type="hidden"
                                                                                                 name="task"
                                                                                                 value="search">
                            <input type="hidden" name="option" value="com_search">
                            <input type="hidden" name="Itemid" value="21">
                        </div>
                    </form>

                </div>
            </div>
            <div class="menutopwrap">
                <div id="menuright" class="hd2">
                    <div id="menuright3">
                        <div class="module title-off ">
                            {% if c.userobj %}
                                <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                                    <ul class="unstyled">
                                        {{ self.header_account_logged() }}
                                    </ul>
                                </div>
                            {% else %}
                                <nav class="account not-authed">
                                    <ul class="unstyled">
                                        {{ self.header_account_notlogged() }}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="menu" class="clearfix hd8  dualfish">
                    <div class="module title-on  moleft">
                        <h3 class="moduletitle">
                            <span class="first_word">Main Menu</span></h3>

                        <div class="modulecontent">
                            <ul class="menu dualfish xtcdefaultmenu">
                                <li class="menu-1 item-21 current active"><a href="/">Home</a></li>
                                <li class="menu-2 item-82"><a href="http://ckan-001.corve.openminds.be/">DATA</a></li>
                                <li class="menu-3 item-68"><a href="/index.php/infocenter">INFOCENTER</a></li>
                                <li class="menu-4 item-64"><a href="/index.php/news2">NEWS</a></li>
                                <li class="menu-5 item-26"><a href="/index.php/blog">BLOG</a></li>
                                <li class="menu-6 item-22"><a href="/index.php/events2">EVENTS</a></li>
                                <li class="menu-7 item-235"><a href="/index.php/links">LINKS</a></li>
                                <li class="menu-8 item-482"><a href="/index.php/contact">CONTACT</a></li>
                            </ul>
                            <div class="mobilebtn">
                                <select size="1" class="menu dualfish xtcmobilemenu"
                                        onchange="location.href=this.value">
                                    <option value="/" selected="selected">Home</option>
                                    <option value="http://ckan-001.corve.openminds.be/">DATA</option>
                                    <option value="/index.php/infocenter">INFOCENTER</option>
                                    <option value="/index.php/news2">NEWS</option>
                                    <option value="/index.php/blog">BLOG</option>
                                    <option value="/index.php/events2">EVENTS</option>
                                    <option value="/index.php/links">LINKS</option>
                                    <option value="/index.php/contact">CONTACT</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div id="menu2" class="clearfix">

            </div>

        </div>
    </div>
</div>
{% endblock %}



{#
{% block header %}
<div class="navbar masthead">
    {{ self.header_debug() }}
    <div class="navbar-inner">
        <div class="container">
            <div class="okfn-ribbon">
                <a data-toggle="collapse" data-target="#okf-panel">An Open Knowledge Foundation Site</a>
            </div>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="/"><img src="/images/logo-big-trans.png"></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {{ self.header_site_navigation_tabs() }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <div class="social-links">
                        <a class="twitter" href="https://twitter.com/openbelgium">twitter</a>
                    </div>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </div>
</div>


{% block header_account %}
<header class="account-masthead">
    <div class="container">
        {{ self.header_site_search() }}
        {% if c.userobj %}
        <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="unstyled">
                {{ self.header_account_logged() }}
            </ul>
        </div>
        {% else %}
        <nav class="account not-authed">
            <ul class="unstyled">
                {{ self.header_account_notlogged() }}
            </ul>
        </nav>
        {% endif %}
    </div>
</header>
{% endblock %}


{% endblock %}
    #}




