{% ckan_extends %}

{% block page %}
  {{ super() }}
{% endblock %}

{# The content block allows you to replace the content of the page if needed #}
{%- block content %}
    <div id="region2wrap" class="xtc-bodygutter" role="main">
        <div id="region2pad" class="xtc-wrapperpad">
            <div id="content" class="row-fluid xtc-wrapper r2spacer container">
                {{ self.main_content() }}
            </div>
        </div>
    </div>
{% endblock -%}



{% block main_content %}
    {{ self.flash() }}

    {{ self.toolbar() }}

    <div class="wrapper{{ self.wrapper_class() }}{% if self.secondary()|trim == '' %} no-nav{% endif %}">

        {{ self.actions() }}

        {{ self.pre_primary() }}

        <table>
            <tr><td>
        {{ self.secondary() }}
            </td><td>
        {{ self.primary() }}
            </td></tr>
        </table>
    </div>
{% endblock %}

