{% ckan_extends %}

{% block home_primary_heading %}{{ _("Welcome to OpenData Vlaanderen") }}{% endblock %}
{% block home_primary_text %}
    {% trans %}This is the Flemish OpenData portal.
    {% endtrans %}
{% endblock %}


{% block home_image %}
<section class="featured media-overlay">
    {# <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2> #}
    {% block home_image_content %}
    {% endblock %}
</section>
{% endblock %}


{% block home_secondary_content %}
    <div class="module module-shallow module-narrow module-dark box">
        {{ self.home_search() }}
        {{ self.home_tags() }}
    </div>
{% endblock %}

{%- block content %}
    <div id="region2wrap" class="xtc-bodygutter" role="main">
        <div id="region2pad" class="xtc-wrapperpad">
            <div id="content" class="row-fluid xtc-wrapper r2spacer container">
                <div class="firstarea">
                    <div class="module title-off  nopad">
                        <div class="modulecontent">


                            <div align="center" class="latestnewstitle">
                                <p>
                                    <span style="font-size:48px;">
                                        <span style="font-family:courier new,courier,monospace;">
                                            <span class="first_word">
                                                <img alt="" src="http://opendataforum.info/images/logo.jpg"
                                                     style="width: 98px; height: 81px;"/>&nbsp;OPEN DATA&nbsp;</span>
                                            <span style="color:#b22222;">IN VLAANDEREN&nbsp;</span>
                                        </span>
                                    </span>
                                    <img alt=""
                                         src="http://opendataforum.info/images/vlaamse_leeuw.jpeg"
                                         style="width: 108px; height: 66px;"/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {{ self.flash() }}
                {{ self.primary_content() }}
            </div>
        </div>
    </div>
    <div id="region3wrap" class="xtc-bodygutter" role="main">
        <div id="region3pad" class="xtc-wrapperpad">
            <div id="content" class="row-fluid xtc-wrapper r3spacer container">
                {{ self.secondary_content() }}
            </div>
        </div>
    </div>
{% endblock -%}
