{% ckan_extends %}


{%- block content %}
    <div id="region2wrap" class="homepage layout-{{ homepage_style }} xtc-bodygutter" role="main">
        <div id="region2pad" class="xtc-wrapperpad">
            <div id="content" class="row-fluid xtc-wrapper r2spacer container">
                <div class="firstarea">
                    <div class="module title-off  nopad">
                        <div class="modulecontent">


                            <div align="center" class="latestnewstitle">
                                <p>
                                    <span style="font-size:48px;">
                                        <span
                                                style="font-family:courier new,courier,monospace;">
                                            <span class="first_word">
                                                <img alt="" src="http://opendataforum.info/images/logo.jpg"
                                                     style="width: 98px; height: 81px;">&nbsp;
                                                <span style="font-family:georgia,serif;">OPEN DATA&nbsp;</span></span>
                                            <span style="font-family:georgia,serif;">
                                            <span style="color:#b22222;">IN VLAANDEREN &nbsp;&nbsp;</span>
                                        </span>
                                        </span>
                                    </span>
                                    <img
                                            alt="" src="http://opendataforum.info/images/vlaamse_leeuw.jpeg" style="width: 108px; height: 66px;">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {{ self.flash() }}


                <div class="box">
                    Om datasets te kunnen toevoegen aan het Open Data platform gelden volgende afspraken:
                    <ul>
                        <li>- Registreren doe je zelf op het Vo Open Data platform. Opm: deze eerste stap geeft je nog geen beheer rechten
                        <li>- Stuur een mail naar <a href="mailto:info@opendataforum.info">info@opendataforum.info</a> met duidelijke vermelding voor welke organisatie je datasets wilt toevoegen
                        <li>- Na verificatie krijg je een mail terug met bevestiging.
                        <li>- Je bent vanaf nu beheerder voor die bepaalde organisatie (en alleen die organisatie) en ook verantwoordelijk voor het correct invullen van alle velden conform het Vo Open Data handboek.
                    </ul>
                </div>
                <div class="primary-content" style="margin-top: 20px">
                    {% block primary_content %}
                        {% snippet "home/layout{0}.html".format(homepage_style) %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>

{% endblock -%}

