
[depends]

main = base/main

[groups]

tag_cloud =
    js/tag_cloud.js

vl_breadcrumb =
    js/breadcrumb-vl.js

joomla_theme =
    css/odvl-joomla-tribune.css

odvl_theme =
    css/ckan-original.css
    css/vlaanderen-ui-ckan.css
    css/style-override.css
    js/scripts.js
    js/vlaanderen-ui.js