
[depends]

main = base/main

[groups]

csv_to_html =
    vendor/csv-to-html-table/js/jquery.dataTables.js
    vendor/csv-to-html-table/js/csv_to_html_table.js
    vendor/csv-to-html-table/js/dataTables.bootstrap.js
    vendor/csv-to-html-table/js/jquery.csv.js
    js/stat_datatable.js
    vendor/csv-to-html-table/css/dataTables.jqueryui.css
    vendor/csv-to-html-table/css/dataTables.bootstrap.css
    vendor/csv-to-html-table/css/custom_vodap.css

tag_cloud =
    js/tag_cloud.js

vl_breadcrumb =
    js/breadcrumb-vl.js

joomla_theme =
    css/odvl-joomla-tribune.css

odvl_theme =
    css/vlaanderen-ui-ckan.css
    css/ckan-original.css
    css/style-override.css
    js/scripts.js
    js/vlaanderen-ui.js